@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 180 13% 97%;
    --foreground: 222 84% 5%;
    --card: 180 13% 97%;
    --card-foreground: 222 84% 5%;
    --popover: 180 13% 97%;
    --popover-foreground: 222 84% 5%;
    --primary: 179 99% 34%;
    --primary-foreground: 180 13% 97%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 204 10% 4%; /* #0b141a */
    --foreground: 210 40% 98%; /* hsl(210 40% 98%) */
    --card: 215 14% 15%; /* #202c33 */
    --card-foreground: 210 40% 98%;
    --popover: 204 10% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 162 100% 33%; /* #00a884 */
    --primary-foreground: 210 40% 98%;
    --secondary: 215 14% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 14% 15%;
    --muted-foreground: 215 25% 65%;
    --accent: 85 45% 65%; /* #BCE38A */
    --accent-foreground: 222 84% 5%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 14% 20%; /* #1f2c33 */
    --input: 216 15% 22%; /* #2a3942 */
    --ring: 162 100% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
